html {
  scroll-behavior: smooth;
}
body {
  opacity: 0%;
  animation: fadein 2s forwards;
}

.top-image {
  height: 50vh;
  background-image: url(../resources/R_R%20Banner.png);
  background-position-x: 80%;
  background-size: cover;
}

.bottom-bar {
    background-color: rgb(0, 66, 116);
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%239C92AC' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
    height: 68px;
}

.bar-content {
    width: 120px;
    margin: auto;
}

.thumbnail-image {
    height: 120px;
    margin: -26px auto 0 auto;
    border-radius: 50%;
    top: 60px;
}

.meet-cast {
    height: 100vh;
    margin: 100px auto 200px auto;
}

.column {
  float: left;
  width: 40%;
  margin: 5%;
  padding: 0 5%;
}

@media screen and (max-width: 480px) {
  .column {
    flex-flow: column;
    display: block;
  }
  .row {
    flex-flow: row;
    display: block;
  }
  .container.meet-cast {
    margin: 0 0 100vw 0;
  }
  .cast-name {
    font-size: 16px;
    font-weight: bolder;
  }
  .cast-about {
    font-size: 14px;
  } 
  .container.episodes {
     margin: 100vw auto 0 auto; 
  }
  .episodes > iframe {
      width: 100%;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .column {
    flex: 1;
    display: block;
  }
  .container.meet-cast {
    margin: 0 auto 100vw auto;
    width: 100vw;  
  }
  .card > div > h2 {
    font-size: 16px;
      font-weight: bolder;
  } 
  .container.episodes {
     margin: 100vw auto 0 auto; 
  }
  .episodes > iframe {
      width: 100%;
  }
}

.about-title {
    color: rgb(0, 66, 116);
    text-align: center;
    padding-bottom: 40px;
}
.about-text {
    color: rgb(0, 66, 116);
    line-height: 50px;
    font-size: 20px;
}

.meet-title {
    color: rgb(0, 66, 116);
    text-align: center;
    padding-bottom: 20px;
}
.card {
  border: none;
  color: rgb(0, 66, 116);
  width: 100%;
}

.card img {
  border-radius: 100%;
  margin-bottom: 20px;
  width: 100%;
}

.socialmedia.card {
  margin: 0 0px 0 -10px;
  flex-direction: row;
}

.socialmedia.link {
  width: 60px;
    margin: 0;
}

.socialmedia.link img {
  width: 40px;
}

.container {
  padding: 200px 16px 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.container.episodes {
   width: 100%;
   margin: 20vh auto 0 auto; 
}

.episodes > iframe {
  width: 100%;
  margin: 0 auto 20vh auto;
}

@keyframes fadein {
    0% {opacity: 0%}
    100% {opacity: 100%}
}