.nav {
    width: 100vw;
}
.nav-text {
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin: 0 10px 0 10px;
}

.navbar-default{
  transition: 500ms ease;
  background: transparent;
}
.navbar-default.scrolled{
  background: rgb(0, 66, 116);
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%239C92AC' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
  z-index: 2;
  min-height: 68px;
}

.dropdown-recolor {
  border: none;
  background: inherit;
  background-image: inherit;
  transition: 500ms ease;
  background: transparent;
  border-radius: 0;
  margin-top: 8px;
}

.dropdown-recolor.scrolled {
  border: none;
  background: rgb(0, 66, 116);
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%239C92AC' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#socialmedia {
    padding: 0 20px 0 0;
}

#socialmedia > a {
    padding: 0 10px;
}

#socialmedia > a > img {
    margin: 10px 0;
}